* {
    margin: 0;
    gap: 0;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --tile-size: 8rem;
    --x-size: calc(var(--tile-size) * .8);
    --x0-size: calc(var(--tile-size) * .4);
    --zero-width: calc(var(--tile-size) * .4);
}

.container {
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right bottom, greenyellow, lime,rgb(28, 28, 28), rgb(28, 28, 28) 35%,rgb(28, 28, 28),rgb(28, 28, 28),rgb(28, 28, 28), darkviolet, deeppink);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    font-size: 3rem;
    /* z-index: -1; */
}

.score {
    background-color: rgb(145, 145, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    color: aliceblue;
    text-shadow: 2px -1px 2px grey;
    max-width: 300px;
    height: 90px;
    border: solid 2px rgb(78, 78, 78);
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px rgb(78, 78, 78);
    padding: 10px 20px;
    /* z-index: -1; */
}

.tables {
    display: grid;
    grid-template-columns: repeat(3, var(--tile-size));
    grid-auto-rows: minmax(var(--tile-size), auto);
}

.box {
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: cell;
}

.box:first-child {
    box-shadow: 4px 4px 3px 0px white;
}

.box:nth-child(2) {
    box-shadow: 4px 4px 3px 0px white, -4px 4px 3px 0px white;
}

.box:nth-child(3) {
    box-shadow: -4px 4px 3px 0px white;
}

.box:nth-child(4) {
    box-shadow: 4px 4px 3px 0px white, 4px -4px 3px 0px white;
}

.box:nth-child(5) {
    box-shadow: 4px 4px 3px 0px white, -4px 4px 3px 0px white, 4px -4px 3px 0px white;
}

.box:nth-child(6) {
    box-shadow: -4px 4px 3px 0px white, -4px -4px 3px 0px white;
}

.box:nth-child(7) {
    box-shadow: 4px -4px 3px 0px white;
}

.box:nth-child(8) {
    box-shadow: 4px -4px 3px 0px white, -4px -4px 3px 0px white;
}

.box:nth-child(9) {
    box-shadow: -4px -4px 3px 0px white;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:first-child,
.box:nth-child(4),
.box:nth-child(7) {
    border-left: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
    border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-bottom: none;
}

.playerX {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerX::after {
    position: absolute;
    transform: rotate(-45deg);
    content: "";
    background-color: deeppink;
    box-shadow: 0 0 5px 3px darkviolet;
    width: 20px;
    height: var(--x-size);
    /* z-index: -3; */
}

.playerX::before {
    position: absolute;
    transform: rotate(45deg);
    content: "";
    box-shadow: 0 0 5px 3px darkviolet;
    background-color: deeppink;
    width: 20px;
    height: var(--x-size);
    /* z-index: -3; */
}

.player0 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player0::after {
    position: absolute;
    content: "";
    background-color: transparent;
    border: solid 20px greenyellow;
    box-shadow: 0 0 5px 3px lime inset, 0 0 5px 3px lime;
    border-radius: 50%;
    width: var(--zero-width);
    height: var(--x0-size);
    /* z-index: -3; */
}

.winbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.winbar p {
    z-index: 99;
}

.playerXwon {
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 5rem;
    text-shadow: 4px -3px 3px darkviolet;
    color: deeppink;
    cursor: default;
    z-index: 99;
}

.playerXwon::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(20, 20, 20, 0.98), rgba(30, 30, 30, 0.98), rgba(20, 20, 20, 0.98));
    z-index: 98;
}

.player0won {
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 5rem;
    text-shadow: 4px -3px 3px lime;
    color: greenyellow;
    cursor: default;
    z-index: 99;
}

.player0won::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(20, 20, 20, 0.98), rgba(30, 30, 30, 0.98), rgba(20, 20, 20, 0.98));
    z-index: 98;
}

.tie {
    position: absolute;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 5rem;
    text-shadow: 4px -3px 3px grey;
    color: rgba(255, 255, 255, 0.849);
    cursor: default;
    z-index: 99;
}

.tie::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, rgba(20, 20, 20, 0.98), rgba(30, 30, 30, 0.98), rgba(20, 20, 20, 0.98));
    z-index: 98;
}

.resettable {
    padding: 15px 10px;
    font-size: 1rem;
    background-color: royalblue;
    border: solid 2px steelblue;
    box-shadow: 0px 0px 1px 2px steelblue;
    border-radius: 5px;
    color: aliceblue;
    z-index: 99;
    cursor: pointer
}

.resetscore {
    font-size: 0.8rem;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-self: center;
    padding: 0px 10px;
    background-color: MediumSlateBlue;
    border: solid 1px LightSteelBlue;
    box-shadow: 0px 0px 1px 1px LightSteelBlue;
    border-radius: 5px;
    color: SpringGreen;
}

.resetscore:active {
    font-size: 0.78rem;
    background-color: MediumPurple;
    box-shadow: 0px 0px 1px 0.3px LightSteelBlue;
}

.resettable:active {
    background-color: lightskyblue;
    box-shadow: 0px 0px 1px 1px steelblue;
    font-size: 0.97rem;
}

.hidden {
    display: none;
}

.title span:first-child {
    animation: neon 3s 1s infinite;
    text-shadow: 4px -3px 3px rgb(179, 0, 255);
    color:deeppink;
}

.title span:nth-child(2) {
    text-shadow: 4px -3px 3px rgb(150, 150, 150);
    color:rgb(223, 223, 223);
}

.title span:nth-child(3) {
    animation: florescent 3s 1s infinite;
    text-shadow: 4px -3px 3px lime;
    color: greenyellow;
}

.score p:first-child span {
    text-shadow: 1px -1px 2px lime;
    color: greenyellow;
}

.score p:nth-child(2) span {
    text-shadow: 1px -1px 2px rgb(179, 0, 255);
    color: deeppink;
}

@keyframes neon {
    from {
        text-shadow: 4px -3px 3px rgb(179, 0, 255);
        color: deeppink;
    }
    50% {    
        text-shadow: 4.3px -3.3px 9px rgb(179, 0, 255);
        color: deeppink;
    }
    to {
        text-shadow: 4px -3px 3px rgb(179, 0, 255);
        color: deeppink;
    }
}

@keyframes florescent {
    from {
        text-shadow: 4px -3px 3px lime;
        color: greenyellow;
    }
    50% {    
        text-shadow: 4.3px -3.3px 9px lime;
        color: greenyellow;
    }
    to {
        text-shadow: 4px -3px 3px lime;
        color: greenyellow;
    }
}


@media only screen and (max-width: 1050px) {
    .title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 540px) {
    .title {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 460px) {
    .title {
        font-size: 1.2rem;
    }
}